body {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}
.signup-container,
.login-container {
  position: relative;
  width: 400px;
  margin: 0 auto;
  padding: 30px;
  background-color: #3176a7;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  color: #1c3767;
  font-weight: bold;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}
.signup-container button {
  height: 55px;
  width: 60%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #1c3767;
}
.signup-container button:hover {
  background-color: #264985;
  box-shadow: #ffffff 0 -2px 2px -2px inset;
}
.forum_label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
}

.input_forum {
  background-color: #f5f5f59e;
  color: #333;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input_forum:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}
