/* FormulaireFormation.css */

.Formulaire {
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;

    form {
        text-align: left;
        width: 40%;

        input {
            width: fit-content;
            min-width: 60%;
        }

        button:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }
    }
}

.Formation-title {
    text-align: center;
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.Field {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Field label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    display: flex;
    align-items: center;
    gap: 5px;
}

.Field input[type="text"],
.Field input[type="date"],
.Field input[type="radio"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-top:
        0px;
}

.Field input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

.Field button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.Field button:hover {
    background-color: #0056b3;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    margin-right: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #c82333;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

/* Align formateurs and delete buttons */
.Field div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

input[readonly] {
    background-color: #e9ecef;
    cursor: not-allowed;
}