
.point {
    cursor: pointer;
}

.nav-item {
    margin-right: 10px;
    cursor: pointer;
    transition: 0.4s ease;
    font-family: 'Outfit';
    a {
        color: white;
    }
}

.nav-item:hover {
    color: #aaaaaa;
}