.members-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-top: 7%;
}

.members-container button {
    margin: 10px 5px 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.members-container button:hover {
    background-color: #0056b3;
}

.filter-menu {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 0px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-menu.open {
    opacity: 1;
    padding: 20px;
    max-height: 500px;
    /* adjust depending on the expected height */
}

.filter-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-row select,
.filter-row input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-row button {
    padding: 5px 10px;
    color: #ff4d4d;
    background: none;
    border: none;
    cursor: pointer;
}

.filter-row button:hover {
    color: #ff1a1a;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
    tbody tr {
        cursor: pointer;
        transition: 0.2s ease;
    }
}

.custom-table tr:nth-child(odd) {
    background-color: transparent;
}

.custom-table tr:nth-child(even) {
    background-color: transparent;
}

.custom-table tbody tr:hover {
    background-color: #d3d3d3;
    color: black;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    background-color: none !important;
}

.custom-table-responsive {
    overflow-x: auto;
}

.loading-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}